.app{
  display: flex;
  flex-direction: column;
  justify-content: center
}

.headline {
  font-family: Arial;
  font-size: 45px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.contain {
  max-height: 1005px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.drudged {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.crossedOut {
  color: red;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.crossedOut:hover {
  cursor: pointer
}

.disclaimer {
  color: red;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-align: center
}

.linkContain {
  max-width: 350px;
}

.drudgeLink {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  max-width: 100px
}

.drudged:hover {
  cursor: pointer
}

.drudgedReport {
  font-size: 100px;
  font-family: Impact;
  font-style: italic;
  margin-top: -15px;
  margin-bottom: -1px;
  text-shadow: -7px 0px #BFBFBF;
  text-align: center
}

.img {
  max-height: 200px;
}

.imgContain {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center
}

@media only screen and (max-width: 650px) {
  .contain {
    flex-wrap: nowrap;
    align-items: center
  }
}
