.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  font-family: Arial;
  font-size: 45px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.contain {
  max-height: 1200px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap
}

.drudged {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.time {
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  margin-top: -1px
}

.disclaimer {
  color: red;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-align: center
}

.linkContain {
  max-width: 350px;
}

.drudgeLink {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  max-width: 100px
}

.drudged:hover {
  cursor: pointer
}

.drudgedReport {
  font-size: 100px;
  font-family: Impact;
  font-style: italic;
  margin-top: -15px;
  margin-bottom: -1px;
  text-shadow: -7px 0px #BFBFBF;
  text-align: center
}

.img {
  max-height: 200px;
}

.item {
  border-top: 1px dotted #BFBFBF;
  border-bottom: 1px dotted #BFBFBF;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 400px;
}

.imgContain {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center
}

@media only screen and (max-width: 800px) {
  .contain {
    flex-wrap: nowrap;
    align-items: center
  }
  .drudgedReport {
    font-size: 70px;
    text-shadow: -5px 0px #BFBFBF;
  }
  .drudged, .drudged a, .drudged p {
    text-align: center
  }
}
